export DATABASE_URL=postgres://postgres@localhost/django_db
export REDIS_URL=redis://localhost:6379
export OTREE_ADMIN_PASSWORD={{ otree_admin_pw }}
export OTREE_PRODUCTION=1
export OTREE_AUTH_LEVEL=STUDY


#https://help.ubuntu.com/community/EnvironmentVariables